.grid-main{
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  text-align: center;
}

.odd{
  background-color: lightgray;
  display: inline-block;
}

.even{
  background-color: darkgray;
  display: inline-block;
}

.tictactoe{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}